{% extends 'layout.html' %}

{% block body %}
<h1>Estado de la aplicación Nextcloud   <i class="fas fa-spinner fa-pulse"></i></h1>
<p>Funcionando</p>
{% for check in checks %}
<p>Última comprobación de {{check.service}} en fecha {{check.reg_date}}, resultado: {{check.response}}.</p>
{% endfor %}
<br>
<canvas id="myChart"  style="margin-bottom: 100px; max-width: 70%"></canvas>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{labels | safe}},
        datasets: [{
            label: 'Estado global',
            data: {{ values | safe}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)'                
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Conexiones'
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}