{% extends 'layout.html' %}

{% block body %}
<div>
  <h1>Usuarios</h1>
      <table class="table table-striped">
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
        </tr>
        {% for user in users %}
        <tr>
          <td><a href="user/{{user.uid}}">{{user.uid}}</a></td>
          <td>{{user.displayname}}</td>
        </tr>
        {% endfor %}  
</div>
<br>  
<div>
    <table class="table table-striped">
      <h1 style="margin-top: 100px;">Conexiones</h1>
        <tr>
          <th>Usuario</th>
          <th>Agente</th>
          <th>Última actividad</th>
          <th>Última comprobación</th>
        </tr>
        {% for conn in conns %}
        <tr>
          <td>{{conn.uid}}</a></td>
          <td>{{conn.name}}</td>
          <td>{{conn.last_activity | ts}}</td>
          <td>{{conn.last_check | ts}}</td>
        </tr>
        {% endfor %}
</div>
{% endblock %}
